
<style type="text/css">
  md-list-item, md-list-item .md-list-item-inner {
    min-height: 100px;
    height: 70px;
    min-width: 150px;
    width: 200;
}
</style>

<md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>Add Friends</span>
      </h3>
    </div> 
</md-toolbar>
<md-content>
    <div layout="row">
		<div flex="25" flex offset="5">
    <md-list layout="column" layout-align="center start">  
            <md-list-item class="md-3-line">
                <md-input-container>
                    <label>Filter friends:</label>
                    <input type="text" ng-model="filterForFriends"/>
                </md-input-container>
            </md-list-item>
    

            <md-list>
             <!--<md-list-item class="md-3-line">
               <div class="md-list-item-text" layout="row">
                 <div class = "abc"><h2>Name</h2></div>
                 <div class = "abc"><h2>Surname</h2></div>
               </div>
             </md-list-item>
             -->
            <md-list-item layout="row" class="md-2-line" ng-repeat="frn in nonFriends | filter:filterForFriends">
              <md-button ng-click="showFriend(frn)">
              <div class="md-list-item-text" layout="row">
                <div class="abc" align="center"><p>{{frn.name}}</p></div>
                <div class="abc"><p>{{frn.surname}}</p></div> 
              </div>
              </md-button>
              <div >
                <md-button aria-label="md-button" class="md-accent md-raised" ng-click="addFriend(frn)">Add
                </md-button>
              </div>
            </md-list-item>
          </md-list>
          </md-list>
		</div>
    </div>      
    <md-divider></md-divider>
</md-content>