
<md-dialog>
<div class = "form-group" ng-init="init()">
	<h3>Basic information</h3>
    <form>
    <md-content layout-padding layout="column" layout-sm="column" layout-align="center start">
    	<md-input-container md-no-float = "true">
    	   <label>Name:</label><input required type = "text" ng-model = "res.name" ng-readonly="true"/>
    	</md-input-container>
    	<md-input-container md-no-float = "true">
    	   <label>Address:</label><input required type = "text" ng-model = "res.address" ng-readonly="true"/>
    	</md-input-container>
		<md-input-container md-no-float = "true">
    	   <label>Phone:</label><input required type = "text" ng-model = "res.phone" ng-readonly="true"/>
 	</md-content>	
    </form>
    </div>
</md-dialog>

