<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Start page</title>
</head>
<body>


<div ng-controller="startPageController"  ng-init="init()">

		<div align='right'>
			<p flex>{{loggedUser.name}} {{loggedUser.surname}}</p>
			<md-button  class = "md-raised" ng-click = "logout(loggedUser.username)">Log out</md-button>
		</div>


		<md-tabs> 
		<md-tab label="Restaurants"> 
			<md-content class="md-padding">
			 <div data-ng-include data-src="'app/partials/restaurantsTab.html'"></div>
			</md-content>
		</md-tab> 
			
		<md-tab label="Add friends">
			 <md-content class="md-padding">
                <div data-ng-include data-src="'app/partials/friendsTab.html'"></div>
			
			</md-content> 
		</md-tab> 

		<md-tab label="Drinks">
             <md-content class="md-padding">
                <div data-ng-include data-src="'app/partials/drinks.html'"></div>
            </md-content> 
        </md-tab>

		<md-tab label="Food">
             <md-content class="md-padding">
                <div data-ng-include data-src="'app/partials/food.html'"></div>
            
            </md-content> 
        </md-tab>
		
		<md-tab label="My profile">
             <md-content class="md-padding">
                <div data-ng-include data-src="'app/partials/userProfileTab.html'"></div>
            
            </md-content> 
        </md-tab>


		</md-tabs>

</div>
</body>
</html>