<md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>User Profile</span>
      </h3>
    </div> 
</md-toolbar>
<md-content>

	<div layout="row">
		<md-input-container md-no-float = "true">
      <label>Name:</label><input required type = "text" ng-model = "loggedUser.name" ng-readonly="false"/>
   </md-input-container>
   <md-input-container md-no-float = "true">
      <label>Surname:</label><input required type = "text" ng-model = "loggedUser.surname" ng-readonly="false"/>
   </md-input-container>
    <md-input-container md-no-float = "true">
    <label>Address:</label><input required type = "text" ng-model = "loggedUser.address" ng-readonly="false"/>
    </div> 

    <div>
    <md-button  class="md-accent md-raised" ng-click="updateProfile()" md-autofocus>Update profile</md-button>
    </div>


    <div layout="row">
		<div flex="25" flex offset="5">
			<h3>Friends:</h3>
		</div>
    </div>
    <div layout="row">
		<div flex="25" flex offset="5">
    <md-list layout="column" layout-align="center start">  
            <md-list-item class="md-3-line">
                <md-input-container>
                    <label>Filter friends:</label>
                    <input type="text" ng-model="filterForFriends"/>
                </md-input-container>
            </md-list-item>

            
            <md-list>
            <md-list-item layout="row" class="md-2-line" ng-repeat="frn in friends | filter:filterForFriends">
              <md-button ng-click="showFriend(frn)">
              <div class="md-list-item-text" layout="row">
                <div class="abc" align="center"><p>{{frn.name}}</p></div>
                <div class="abc"><p>{{frn.surname}}</p></div> 
              </div>
              </md-button>
              <div layout="column" layout-align="center center">
                      <div>
                    <md-button aria-label="md-button" class="md-accent md-raised" ng-click="removeFriend(frn)">Remove
                      </md-button>
                      </div>
              </div>
            </md-list-item>
          </md-list>
          </md-list>
		</div>
    </div>      
    <md-divider></md-divider>
</md-content>